<mat-card class="header-card">
  <div class="fxFlex" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="end end">
    <button mat-button class="menu-button" (click)="onHomeClick()">Home</button>
    <button mat-button class="menu-button" (click)="onAboutUsClick()">About Us</button>
    <button mat-button class="menu-button" (click)="onInfoClick()">Info</button>
    <button mat-button class="menu-button" (click)="onBlogClick()">Blog</button>
    <button mat-button class="menu-button" (click)="onContactUsClick()">Contact Us</button>
    <button mat-button class="book-now-button" (click)="onBookingClick()">Booking</button>
  </div>
</mat-card>