<div fxLayout="column" fxFlexFil>
  <app-menu-header></app-menu-header>
  <mat-card>
    <mat-carousel timings="200ms ease-in" [autoplay]="true" interval="6000" color="white">
      <mat-carousel-slide *ngFor="let picture of headerSliderPics; let i = index" [image]="picture?.image"
        overlayColor="#ffffff" [hideOverlay]="false">
      </mat-carousel-slide>
    </mat-carousel>
  </mat-card>
  <div class="container" fxLayout="row wrap" fxLayoutAlign="space-arround center">
    <div class="info-container" fxLayout="column" fxFlex="70">
      <h2 class="heading">
        What do we do?
      </h2>
      <small class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make
        a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
        containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions
        of Lorem Ipsum.
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
        containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions
        of Lorem Ipsum.
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
        containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions
        of Lorem Ipsum.
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions
        of Lorem Ipsum.
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
        containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions
        of Lorem Ipsum.
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions
        of Lorem Ipsum.
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
        containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions
        of Lorem Ipsum.

      </small>
    </div>
    <div fxFlex="30">
      <mat-card class="image-card">
        <img class="image-style" src="../../assets/card-1.png" />
      </mat-card>
    </div>
  </div>
</div>
<app-footer></app-footer>