<div fxLayout="column" fxFlexFil>
  <app-menu-header></app-menu-header>
  <mat-card>
    <mat-carousel timings="200ms ease-in" [autoplay]="true" interval="6000" color="white">
      <mat-carousel-slide *ngFor="let picture of headerSliderPics; let i = index" [image]="picture?.image"
        overlayColor="#ffffff" [hideOverlay]="false">
      </mat-carousel-slide>
    </mat-carousel>
  </mat-card>
  <div class="mt-4" fxLayout="row" fxLayoutAlign="space-evenly center">
    <h2>
      Home
    </h2>
    <mat-card class="image-card">
      <!-- <img src="../../assets/card-1.png" /> -->
    </mat-card>

  </div>
</div>
<app-footer></app-footer>
