<div class="header">
  <div fxLayout="row" fxLayoutAlign="end end">
    <button mat-button class="menu-button" (click)="onAboutUsClick()">ABOUT US</button>
    <button mat-button class="menu-button">INFO</button>
    <button mat-button class="menu-button">BLOG</button>
    <button mat-button class="menu-button">CONTACT US</button>
    <button mat-button class="menu-button">HOME</button>
  </div>
</div>
<div>
  <p> This is About Us div</p>
</div>
<div>
  <p>This is Info div</p>
</div>
<div>
  <p>This is Blog div</p>
</div>
<div>
  <p>This is Contact Us div</p>
</div>
